
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.question-answer {
   
    max-width: 85%;
    background-color:antiquewhite;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 11px 3px;
    text-align: center;
    align-content: center;
    margin: auto;
}

.time-remaining {
   
    text-align: right;
    margin: -7px 0 0 0;
}

.answer-btns{
    height: auto;
    width: 100%;
    display: grid;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 6px;
    text-align: center;
 } 

 .begin-quiz{
    height: auto; 
    width: 200px;
    padding: 30px 10px;
    margin: auto;
    box-shadow: 0 0 6px 2px;
    display: grid;
    box-shadow: 0 0 6px 2px;
    align-content: center;
    margin: auto;  
 } 

 .begin-quiz:hover{
     color: rgb(129, 184, 197); 
 }
.answer-choice{
    height: auto;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 6px;
    text-align: center;
    box-shadow: 0 0 6px 2px;
 } 

 .answer-choice:hover{
     color: rgb(129, 184, 197); 
 }

 h1 {
    text-align: center; 
    font-size: 44px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 h2 {
     text-align: center; 
 }
 
 p {
    text-align: center; 
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

.question-answer {
    display: none;
}
