/* <section id= "highscores">
        <div>
            <h3>
                "Your score is " + 

            </h3>
        </div>
    </section> */
    /* <section id="quiz" class="quiz-area">
    <div class="quiz-area2">
        <div class= "questions"></div>
        <h2 id="question-intro">C</h2>
    </div>
    </div>
    <button class = "btn">A</button>
    <button class = "btn">B</button>
    <button class = "btn">C</button>
    <button class = "btn">D</button>
        <div>
        </div id="begin" class="begin-button">Begin Quiz
    </div>
</section>
body { */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
 
}

p {
    text-align: center;
}

.timer-section {
    text-align: right;
}
.mainarea {
    background-color: rgb(195, 200, 211);
    padding: 8px;
    box-shadow: black;
    box-shadow: 0 3px 6px 4px;
    border: black solid;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    width: 100%;
}

.btn:hover {
    background-color: rgb(161, 208, 211);
}

.srt-btn:hover {
    background-color: rgb(161, 208, 211);
}

.srt-btn {
    font-size: 36px;
    align-items: center;
}

.btn {
border-radius: 8px;   
}

 body {
     padding: 2px;
     display: flex;
     align-items: center;
     width: 100% ;
     justify-content: center;
     background-color: aquamarine;
 }

 .answer-btns {
    display: grid;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    text-align: center;
    height: 100px;
    width: 100%;
 }

 .hidden {
    display: none;
 }
